<ion-header>
  <ion-toolbar>
    <ion-title>Create a plant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="name"></ion-input>

      <div *ngIf="name.dirty && name.invalid" class="form-error-message">
        <ion-note color="danger" *ngIf="name.errors.required">
          Required error
        </ion-note>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Location</ion-label>
      <ion-input formControlName="location"></ion-input>

      <div
        *ngIf="location.dirty && location.invalid"
        class="form-error-message"
      >
        <ion-note color="danger" *ngIf="location.errors.required">
          Required error
        </ion-note>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea formControlName="description" auto-grow="true"></ion-textarea>

      <div
        *ngIf="description.dirty && description.invalid"
        class="form-error-message"
      >
        <ion-note color="danger" *ngIf="description.errors.required">
          Required error
        </ion-note>
      </div>
    </ion-item>
    <ion-button type="submit" [disabled]="!form.valid">Block Button</ion-button>
  </form>
</ion-content>
